<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter Name</label>
    <input name="name" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="lastname">Enter Name</label>
    <input name="lastname" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name error</div>
    <br/>
    <label for="age">Enter Age</label>
    <input name="age" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Enter Name</label>
    <input name="email" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>